:root{
    --color-fondo: #f6f6f6;
    --color-footer: #e8e8e8;
    --color-secundario: #333333;
    --color-borde: #130000;
    --color-texto: #000000;
}


.modo-gamer{
    --color-fondo: #02010a;
    --color-footer: #04052e;
    --color-secundario: #140152;
    --color-borde: #22007c;
     --color-texto: #0d00a4;
}


body{
    margin: 0px;
    background-color: var(--color-fondo);
}


header{
    margin: 0px;
    background-color: var(--color-fondo);
    padding: 20px;
    text-align: center;
    border: var(--color-borde);
    border-bottom: 5px var(--color-borde);
    border-style: solid;
}


main{
    padding: 40px;
    display: flex;
    justify-content: center;
}


section{
    background-color: var(--color-fondo);
    width: 600px;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 5px var(--color-borde);
    border-style: solid;
    text-align: center;
}


img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid var(--color-borde);
    object-fit: cover;
}


.mi-imagen{
    content: url("Foto_Edgar Base.jpeg");
    transition: 0.4s;
}


.modo-gamer .mi-imagen{
    content: url("Foto_Edgar.jpeg"); 
}

/*////////////////////////////////////////Sobre mi////////////////////////////////////////////////////////////*/
.sobre-mi p{
    text-align: left;
    line-height: 1.5;
}

.mi-logo{
    float: right;
    width: 180px;
    height: 180px;
    margin-left: 20px;
}

.sobre-mi::after{
    content: "";
    display: table;
    clear: both;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.proyectos-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 15px;
    margin-top: 20px;
}


.proyecto-item{
    position: relative;
    background-color: var(--color-fondo);
    border-color: var(--color-borde);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}


.proyecto-item:hover{
    transform: scale(1);
}


.proyecto-item img,
.proyecto-item video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    border: none;
}

.caja-grande1IMG{
    grid-column: span 2;
    grid-row: span 2;
}

.caja-grande2IMG{
    grid-row: span 2;
}

.caja-grande3IMG{
    grid-column: span 2;
}


.caja-grande6IMG{
    grid-column: span 3;
    grid-row: span 2;
}

.proyecto-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--color-fondo);
    padding: 10px;
    opacity: 0;
    transition: 0.3s;
    text-align: left;
}


.proyecto-item:hover .proyecto-info {
    opacity: 1;
}


.proyecto-info h3 {
    margin: 0;
    font-size: 1.1rem;
    color: var(--color-texto); 
}


/*/////////////////////////////////////////TEXTOS/////////////////////////////////////////////////////////////////*/
@font-face {
    font-family: "Myfont-normal";
    src: url("DMSerifText-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1{
   color: var(--color-texto);
   font-family: "Myfont-normal"; 
   transition: 0.4s;
}

h2{
    color:var(--color-texto);
    font-family: "Myfont-normal";
    transition: 0.4s;
}

h3{
    color:var(--color-texto);
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    transition: 0.4s;
}

p{
    color:var(--color-texto);
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    transition: 0.4s;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/


footer{
    font-size: small;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 20px;
    background-color: var(--color-footer);
    color: var(--color-texto);
}


button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border: 5px solid var(--color-borde);
    background: var(--color-fondo);
    color: var(--color-texto);
    transition: 0.4s;
}


.modo-gamer button{
    border-color: var(--color-borde);
    background-color: var(--color-fondo);
    color: var(--color-texto);
}


.menu{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
    align-self: flex-start;
}


.button_palabra{
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color:var(--color-texto);
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.4s;
}


.button_palabra:hover{
    color: var(--color-secundario);
}


.icon{
    width: 25px;
    height: 25px;
}


@media(max-width: 768px) /*media de los componentes*/
{
    header{
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    section{
        width: 90%;
        padding: 20px;
    }

    img{
        max-width: 180px;
    }
}


@media (max-width: 600px) { /*media de los proyectos*/
    .proyectos-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
    }
    .caja-grande, .caja-ancha {
        grid-column: span 1;
        grid-row: span 1;
    }
}